:root {
  /*Colors*/
  --white: #f9f9f9;
  --black: #1f1f1f;
  --blue: #4298b3;
  --blue-opacity: #4299b327;
  --black-opacity: #1f1f1f57;
  /*fonts*/
  --merri: "Merriweather", serif;
  --quick: "Quicksand", sans-serif;
  /*fonts-size*/
  --title-home-mobile: 3rem;
  --title-home-tablet: 4.4rem;
  --title-home-desktop: 4rem;
  --normal: 1.8rem;
  --little: 1.6rem;
  --title: 2.8rem;
  --nav: 2rem;
  --contact: 2rem;
  --logo-font: 2.8rem;
  /*fonts-weight*/
  --light: 300;
  --regular: 400;
  --bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--merri);
}
::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--blue-opacity); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-opacity); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid var(--white); /* creates padding around scroll thumb */
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.padding {
  padding: 12px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}
.title {
  font-size: var(--title-intro-mobile);
  font-weight: var(--bold);
  width: 100%;
  max-width: 500px;
}
.sub-title {
  font-size: var(--sub-title-intro-mobile);
  font-weight: var(--regular);
  width: 100%;
  max-width: 650px;
}
@media (min-width: 768px) {
  .title {
    font-size: var(--title-intro-tablet);
  }
  .sub-title {
    font-size: var(--sub-title-intro-tablet);
  }
}
@media (min-width: 1100px) {
  .title {
    font-size: var(--title-intro-desktop);
  }
  .sub-title {
    font-size: var(--sub-title-intro-desktop);
  }
}
